.container {
  text-align: center;
}
h1 {
  margin: 30px;
  padding: 30px;
}
.row {
  margin: 20px;
}
#start,
#choice1,
#choice2,
#choice3,
#choice4 {
  margin: auto;
  padding: 10px 30px 10px 30px;
}
